<div class="text-center pt-5">
  <font color="#FF6600"><h3><span class="about">CookingBlog</span>へようこそ</h3></font>
  <div class="text-white pt-3">
    <P>このサイトでは皆さんの作っている料理を</P>
    <p>共有しあったりシェアをしたりして</p>
    <p>交流を深め合ったり通じ合っていくサイトです。</p>
  </div>
</div>