<div class="top text-center">
  <div style="height: 150px; width: auto;">
  </div>
  <font color="green"><p><%= alert %></p></font>
  <font color="#FF6600"><h1>Cooking Blog</h1>

  <h3>cooking personal community</h3></font>
  <div class="pt-3">
    <%= link_to "ログイン", login_path, class: "btn btn-outline-primary w-25" %>
  </div>
  <div class="pt-3">
    <%= link_to "新規登録", new_user_path, class: "btn btn-outline-success w-25" %>
  </div>
</div>