// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  font-family: cursive;
  height: 600px;
}

body {
  background-image: image-url('cooking_body.jpg');
  background-size: cover;
}

.about {
  font-family: cursive;
}